<ng-container *ngIf="content; else empty">
  <h3 [style]="customStyle">{{ content.title }}</h3>
  <h4 class="author">{{ content.author | author }}</h4>
  <a (click)="handleDetailClick($event)">Details</a>
</ng-container>
<ng-template #empty>
    Kein Buch
</ng-template>
